.table{
  font-size: 14px;
}

.login-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form-inner{
  width: 420px;
  margin-top: 80px;
}

.tenant-name{
  text-align: center;
  margin-top: 24px;
  margin-bottom: 48px;
}

.tenant-name > h1{
  color: #333;
}




