<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('../partials/head') %> 
  </head>
  <body>
    <div class="container-fluid">
      <div class="login-form-container">
        <div class="login-form-inner">
          <% if (info.length > 0) { %>
            
              <div class="notification is-danger is-light">
                <p><strong><%= info  %> </strong></p>
              </div>
            
          <% } %>
           
          <div class="box">
            
            <h1 class="title is-3" style="text-align: center;">Login</h1>
              <form action="/auth" autocomplete="off" method="post">
                  <div class="field">
                    <label class="label">Email</label>
                    <div class="control has-icons-left has-icons-right">
                      <input
                        class="input"
                        type="email"
                        name="email"
                      />
                      <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                      </span>
                    </div>
                    
                  </div>
        
                  <div class="field">
                    <label class="label">Password</label>
                    <div class="control has-icons-left has-icons-right">
                      <input
                        class="input"
                        type="password"
                        name="password"
                      />
                      <span class="icon is-small is-left">
                        <i class="fa-solid fa-lock"></i>
                      </span>
                    </div>
                  </div>
        
                  <div class="field">
                    <div class="control">
                      <button class="button is-link is-fullwidth">Login</button>
                    </div>
                
                  </div>
                </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
