<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css"
      integrity="sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="container-fluid">
      <div class="login-form-container">
        <div class="login-form-inner">
          <% if (info.length > 0) { %>
            
              <div class="notification is-danger is-light">
                <p><strong><%= info  %> </strong></p>
              </div>
            
          <% } %>
           
          <div class="box">
            
            <h1 class="title is-3" style="text-align: center;">Login</h1>
              <form action="/auth" autocomplete="off" method="post">
                  <div class="field">
                    <label class="label">Email</label>
                    <div class="control has-icons-left has-icons-right">
                      <input
                        class="input"
                        type="email"
                        name="email"
                      />
                      <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                      </span>
                    </div>
                    
                  </div>
        
                  <div class="field">
                    <label class="label">Password</label>
                    <div class="control has-icons-left has-icons-right">
                      <input
                        class="input"
                        type="password"
                        name="password"
                      />
                      <span class="icon is-small is-left">
                        <i class="fa-solid fa-lock"></i>
                      </span>
                    </div>
                  </div>
        
                  <div class="field">
                    <div class="control">
                      <button class="button is-link is-fullwidth">Login</button>
                    </div>
                
                  </div>
                </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
