<!DOCTYPE html>
<html>
  <head>
    <title>Appointment Confirmed</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css"
      integrity="sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="container-fluid">
      <div class="login-form-container">
        <div class="login-form-inner">
          
          <div class="box" style="text-align:center">
            <div class="content">
              <div style="margin: auto;width: 314px; height: 62px">
                <img src="/images/logo.png" alt="logo" width="314" height="62">
              </div>
              <h1 class="title is-4" style="margin-top:24px;">Appointment Confirmed</h1>
             <p>Your appointment has now been confirmed. An email was sent to the email provided.</p>
            </div>
            
            
            
          </div>
        </div>
       
       
      </div>
    </div>
  </body>
</html>
